---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import BallDecoration from '../components/Ball-Decoration.astro';
import { landingTitle, landingDescription } from '../constants/constants';
---

<Layout title="Welcome to Astro.">
	<main class="relative">
		<Header/>
		
		<div class="z-10 h-[88vh] flex flex-col justify-center py-2 px-4 lg:mx-auto max-w-[84rem]">
			<span class="title text-[2rem] lg:text-[4rem]">projects</span>
			
			<BallDecoration/>
		</div>
		

	</main>
</Layout>

<style>
	main {
		margin: 0;
		padding: 0;
	}

    .customHeight {
        height: 100vh - 4rem;
    }
</style>
